/**
 * @author Sherine
 * @version 1.0
 * @since 29 November 2016
 */
.root {
	-fx-background-color: #d9d9d9;
}
.button {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#808080, #404040);
}